*{
    margin: 0;
    padding: 0;
    
}
ul, li{
    margin: 0;
    padding:0;
    list-style: none;
}

.contenedor__iconos{
    a {
        i{
            color: white;
            margin: .3rem .3rem;
        }
    }
}
h1{
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
}
p{
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
}
$colores:(

header:#444241,
main:linear-gradient(#ffffff, #c9c9c9dc),
footer:#dfdfdf,
facebook:#3b5998,
instagram:#231F20 ,
youtube:#c4302b,
spotify:#1DB954,
);

%hovers___Footer{
    transition:1s ;
    transform: scale(2,2);
    z-index: 100; 
}
